body, #react-app-root, .container {
  margin:0;
  padding:0;
  height: 100vh;
  min-height: 100%;
  box-sizing:border-box;
  font-family: sans-serif;
  color: #150019;
  background-color: #FCFCFC;
}

body {
  background-color: #150019;
}

.container {
  margin: auto;
  width: 85%;
  border: 2px solid #150019;
}
